.product_item_container {
    padding: 1rem;
    background: white;
    border: 1px solid gray;
    border-radius: 12px;
    text-align: center;
    font-size: 1.5rem;
    width: 200px;
    transform: scale(1);
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

.product_item_container:hover {
    transform: scale(1.05);
}

.added {
    background: rgb(196, 196, 196);
    cursor: not-allowed;
}

@media screen and (max-width: 700px) {
    .product_item_container {
        padding: 1rem;
        background: white;
        border: 1px solid gray;
        border-radius: 12px;
        text-align: center;
        font-size: 1rem;
        width: 100px;
        transform: scale(1);
        transition: transform 0.2s ease-out;
        cursor: pointer;
    }

    .added {
        background: rgb(196, 196, 196);
        cursor: not-allowed;
    }
}