@import url('https://fonts.googleapis.com/css2?family=Itim&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', monospace;
}

body {
  margin: 0;
  background: #f2994a; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #fce6a4,
    #f7b882
  );
  /* overflow: hidden; */
}
