@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: Itim, monospace;
}

body {
  margin: 0;
  background: #f2994a; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #fce6a4,
    #f7b882
  );
}
